/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Basic configuration for some process
 * -------------------------------------------------
 * Paths to Singularity images for every process
 * No image will be pulled automatically
 * Need to transfer and set up images before
 * -------------------------------------------------
 */


wf_repository = 'maxulysse'

// singularity is enabled but the automatic pulling of images not. 
singularity {
  enabled = true
  autoMounts = true
}

params {

  genome = 'GRCh37' // Default reference genome is GRCh37
  genome_base = params.genome == 'GRCh37' ? '/scratch/scratch/regmr01/Sarek_references/GRCh37' : params.genome == 'GRCh38' ? '/scratch/scratch/regmr01/Sarek_references/GRCh38' : '/scratch/scratch/regmr01/Sarek_references/smallGRCh37'
  containerPath = "/scratch/scratch/regmr01/Sarek_containers/v2.3.FIX1" // Path to Singularity images

  // set up default params
  docker = false // Don't use Docker to build buildContainers.nf
  download = false // Don't download reference files in buildReferences.nf
  explicitBqsrNeeded = true // Enable recalibration in main.nf
  genome = 'GRCh38' // Default reference genome is GRCh38
  help = false // Don't give help information
  markdup_java_options = '"-Xms4000m -Xmx7g"' //Established values for markDuplicate memory consumption, see issue PR #689 for details
  max_cpus = 16 // Base specifications
  max_memory = 128.GB // Base specifications
  max_time = 240.h // Base specifications
  more = false // Don't give version information
  noBAMQC = false // Use BAMQC
  noGVCF = false // HaplotypeCaller will output gVCF as well
  noReports = false // Reports are made by default
  nucleotidesPerSecond = 1000.0 // To estimate interval size by default
  onlyQC = false // All process will be run and not only the QC tools
  outDir = "${PWD}" // Path to output directory
  publishDirMode = 'link' // publishDir mode is 'link' by default
  push = false // Don't push container to DockerHub
  repository = wf_repository // DockerHub containers repository
  singularity = false // Don't use singularity to build buildContainers.nf
  step = 'mapping' // Default step is mapping
  strelkaBP = false // Don't use Manta's candidate indels as input to Strelka
  tag = 'latest' // Default tag is latest, to be overwritten by --tag <version>
  targetBED = false // no targets by default
  test = false // Not testing by default
  verbose = false // Enable for more verbose information
  awsqueue = false // Queue has to be provided when using awsbatch executor
  awsqueue_tiny = params.awsqueue // A separate queue with smaller instance types
  localReportDir = false // Used by AWS since reporting is not fully supported on s3 buckets
}

process {

  container = "${params.containerPath}/sarek-${params.tag}.simg"
  executor='sge'
  clusterOptions = '-l mem=100G'

  cpus = 2
  penv = "smp"
  time = 24.h
  memory = 100.Gb

  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxRetries = 3

  withName:MapReads {
    cpus = 10
  }
  withName:RunMutect2 {
    cpus = 6
  }
  withName:RunBamQC {
    cpus = 6
  }
  withName:RunGenotypeGVCFs {
    cpus = 6
  }
  withName:RecalibrateBam {
    cpus = 6
  }
  withName:RunHaplotypecaller {
    cpus = 6
  }
  withName:MarkDuplicates {
    cpus = 6
  }
  withName:CreateRecalibrationTable {
    cpus = 6
  }

  withName:ConcatVCF {
    // For unknown reasons, ConcatVCF sometimes fails with SIGPIPE
    // (exit code 141). Rerunning the process will usually work.
    errorStrategy = {task.exitStatus == 141 ? 'retry' : 'terminate'}
  }

  withName:RunSnpeff {
    container = {(params.snpEff_cache && params.annotation_cache) ? "${params.containerPath}/sarek-${params.tag}.simg" : params.genome == 'GRCh38' ? "${params.containerPath}/snpeffgrch38-${params.tag}.simg" : "${params.containerPath}/snpeffgrch37-${params.tag}.simg"}
    memory = 100.Gb
  }
  withName:RunVEP {
    container = {(params.vep_cache && params.annotation_cache) ? "${params.containerPath}/sarek-${params.tag}.simg" : params.genome == 'GRCh38' ? "${params.containerPath}/vepgrch38-${params.tag}.simg" : "${params.containerPath}/vepgrch37-${params.tag}.simg"}
  }
  withName:GetVersionSnpeff {
    container = {params.genome == 'GRCh38' ? "${params.containerPath}/snpeffgrch38-${params.tag}.simg" : "${params.containerPath}/snpeffgrch37-${params.tag}.simg"}
  }
  withName:GetVersionVEP {
    container = {params.genome == 'GRCh38' ? "${params.containerPath}/vepgrch38-${params.tag}.simg" : "${params.containerPath}/vepgrch37-${params.tag}.simg"}
  }
  withName:GetVersionAlleleCount {
    container = "${params.containerPath}/runallelecount-${params.tag}.simg"
  }
  withName:GetVersionASCAT {
    container = "${params.containerPath}/r-base-${params.tag}.simg"
    containerOptions = " --bind /shared/ucl/depts/cancer/apps/nextflow_pipelines/Sarek/Sarek_v2.3.FIX1"
  }
  withName:RunAlleleCount {
    container = "${params.containerPath}/runallelecount-${params.tag}.simg"
  }
  withName:RunAscat {
    container = "${params.containerPath}/r-base-${params.tag}.simg"
    containerOptions = " --bind /shared/ucl/depts/cancer/apps/nextflow_pipelines/Sarek/Sarek_v2.3.FIX1"
  }
  withName:RunConvertAlleleCounts {
    container = "${params.containerPath}/r-base-${params.tag}.simg"
  }

}

process.shell = ['/bin/bash', '-euo', 'pipefail']

report {  // Turning on execution report by default
  enabled = true
  file = "${params.outDir}/Reports/Sarek_report.html"
}

timeline { // Turning on timeline tracking by default
  enabled = true
  file = "${params.outDir}/Reports/Sarek_timeline.html"
}

dag { // Turning on dag by default
  enabled = true
  file = "${params.outDir}/Reports/Sarek_DAG.svg"
}

trace { // Turning on trace tracking by default
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
  file = "${params.outDir}/Reports/Sarek_trace.txt"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}


